<h1>Pivotal Overall View</h1>


<div class="storyboard">
  <div class="column first_column">
    <div class="col_header">
      <span>Development (<%= @all_development.length %>)</span>
      <span class="points"><%= @all_development.inject(0) { |sum, story| story.estimate.nil? ? sum : sum+story.estimate } %>
        pts</span>
    </div>
    <%= render :partial => "story", :collection => @all_development, :as => :story %>
  </div>

  <div class="column">
    <div class="col_header">
      <span>Test (<%= @all_testing.length %>)</span>
      <span class="points"><%= @all_testing.inject(0) { |sum, story| story.estimate.nil? ? sum : sum+story.estimate } %>
        pts</span>
    </div>
    <%= render :partial => "story", :collection => @all_testing, :as => :story %>
  </div>

  <div class="column">
    <div class="col_header">
      <span>Complete  (<%= @all_completed.length %>)
      </span>
      <span class="points"><%= @all_completed.inject(0) { |sum, story| story.estimate.nil? ? sum : sum+story.estimate } %>
        pts</span>
    </div>
    <%= render :partial => "story", :collection => @all_completed, :as => :story %>
  </div>

</div>

<div class="storyboard dummy_border">
  <div class="column first_column"></div>
  <div class="column"></div>
  <div class="column"></div>
</div>
<br style="clear:both">
