<h1>Print</h1>

<div class="print_display_opts">
  <%= form_tag({:controller => :print, :action => "index"}, :method => "get", :class => "state_chooser") do %>

      <div class="form_row">
        <label for="state[]">Conditions:</label>
        <% @state_selection.each do |s| %>
            <br><%= check_box_tag 'state[]', s,
                                  (params[:states] || {}).include?(s) %>
            <%= s %>
        <% end %>
      </div>

      <%= submit_tag("Choose Stories") %>

  <% end %>
</div>


<div class="print_stories_list">
  <%= form_tag do %>

      <div class="printrows">
        <label for="story[]">Stories:</label>
        <% @stories.each_with_index do |project, index| %>
            <div class=<%= project.first.div_class %>>
              <% project.each do |story| %>
                  <div>
                    <%= check_box_tag 'story[]', [story.project_id, story.id],
                                      (params[:stories] || {}).include?(story.id) %>
                    <%= link_to story.name, stories_url(:id => story.id) %>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>

      <%= submit_tag("Print") %>

  <% end %>
</div>
