<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>


<div class="token_input">
  <%= form_tag(:controller, :method => "get") do%>
    <%= label_tag(:token, "Enter your Pivotal Tracker Token:") %>
    <%= text_field_tag(:token) %>
    <%= submit_tag("Submit") %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
